<html>
    <head>

        <script>
            const  roomNo = "<%= room%>";
        </script>
        <script type="application/javascript" src="/socket.io/socket.io.js"></script>
        <script type="application/javascript" src="/GameJS/game.js"></script>
    </head>

    <body>
        <h1>Gamee</h1>
    </body>

</html>

